body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;        /* center the grid-outline inside a flexbox on the page */
    margin-top: 50px;           
}

.grid-outline {
    flex-shrink: 0;                 /* respect width and height */
    width: calc(256px + 32px);      /* inner width => 16*16 = 256; plus grid border 1px each side => 2px * 16 = 32px */
    height: calc(256px + 32px);     /* inner height => 16*16 = 256; plus grid border 1px each side => 2px * 16 = 32px */
    border: 1px solid black;
    display: flex;                  /* display the inner grid as a flexbox */
    flex-flow: row wrap;            /* use the wrap function, so we don't have to create every grid row separately */
                                    /* one row: 16 grid squares, because the width of the outline and the square is respected. 16*16 = 256 */
                                    /* grid square 17 does not fit in the row, so it will be placed in the second row */
    padding: 0;
    margin: 0;
}

.square {
    flex-shrink: 0;                 /* respect the grids width and height */
    width: 16px;                    
    height: 16px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.clicked {
    background-color: black;
}